
<h4> INDEX</h4>

<ul>
  <% @restaurants.each do |restaurant| %>
    <li>
      <%= restaurant.name %>
    </li>
  <% end %>
</ul>


<h3> Name </h3>

<h1> Category </h1>



## After #show i ready, make name a link to restaurants.

